# Переменные окружения для Postgres (Neon / Vercel Postgres)

# Для локальной разработки (Neon connection string)
DATABASE_URL=postgresql://neondb_owner:npg_ztN0dVhE1LgJ@ep-bitter-king-a4kgy2vt-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require
# Для Vercel (Vercel Environment Variables)
POSTGRES_URL=postgresql://neondb_owner:npg_ztN0dVhE1LgJ@ep-bitter-king-a4kgy2vt-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require
POSTGRES_URL_NON_POOLING=postgresql://neondb_owner:npg_ztN0dVhE1LgJ@ep-bitter-king-a4kgy2vt.us-east-1.aws.neon.tech/neondb?sslmode=require

POSTGRES_PRISMA_URL=postgresql://neondb_owner:npg_ztN0dVhE1LgJ@ep-bitter-king-a4kgy2vt-pooler.us-east-1.aws.neon.tech/neondb?connect_timeout=15&sslmode=require

POSTGRES_USER=neondb_owner
POSTGRES_HOST=ep-bitter-king-a4kgy2vt-pooler.us-east-1.aws.neon.tech
POSTGRES_PASSWORD=npg_ztN0dVhE1LgJ
PPOSTGRES_DATABASE=neondb

# Порт для запуска сервиса (по умолчанию 3000)
PORT=3000

